footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
    margin-top: 10rem;
    align-items: center;
}
footer .footer-social-medias{
    padding: 20px 1.0px;
    margin-right: 2%;
    border: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.footer-social-medias .footer-social-media-link{
    margin: 0 1.0rem;
}
.footer-social-media-link .icon{
    font-size: 2.5rem;
    color: var(--footer-text);
    transition: 0.5s;
}
.icon:hover{
    transform: rotate(360deg) scale(1.5);
}
.contact-me .email{
    font-size: 1.8rem;
    color: var(--footer-text);
    font-family: PoppinsSB, sans-serif;
}