@font-face {
    font-family: indie;
    src: url('../FONTS/IndieFlower-Regular.ttf');
}

body {
    background-color: var(--body);
}

@media only screen and (max-width: 1750px) {
    header {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url('../IMG/pexels-cottonbro-5054213.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
    #nav-computer-menu {
        width: 100%;
        background-color: var(--body);
        /*#1f1f1ffa*/
        z-index: 100;
        position: fixed;
        border-bottom: 0.05rem solid var(--menu-nav-bar-border);
    }
    #computer-menu {
        display: flex;
        position: relative;
        list-style: none;
        margin: 0 auto;
        justify-content: center;
    }
    #computer-menu a {
        position: relative;
        margin: 0 1rem;
    }
    #computer-menu a[href="#"] span {
        width: 100% !important;
    }
    #computer-menu a li {
        position: relative;
        display: inline-block;
        color: var(--menu-nav-bar-options);
        padding: 20px;
        font-family: PoppinsL, RobotoL, Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
    }
    #computer-menu a>span {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        background-color: var(--menu-nav-bar-options);
        width: 0%;
        border-radius: 20px 20px 0 0;
    }
    #mobile-menu{
        display: none;
    }
    #btn-menu-extra{
        display: none;
    }
    .filter {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #31313188, #24242488);
    }
    #home-page-title {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 4rem;
        top: 50%;
        transform: translateY(-50%);
        font-family: PoppinsEL, RobotoL, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: #fff;
    }
    #social-media-contact {
        display: flex;
        position: absolute;
        justify-content: center;
        top: 50%;
        right: 0;
        width: 7%;
        height: 60%;
        background-color: var(--social-media-background);
        list-style: none;
        transform: translateY(-50%);
        border-radius: 0.5rem 0 0 0.5rem;
    }
    #social-media-contact a {
        text-decoration: none;
        margin: 0 1rem;
    }
    #social-media-contact li {
        position: relative;
        height: 100%;
    }
    #social-media-contact li i {
        display: block;
        position: relative;
        color: var(--social-media-icons);
        font-size: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        transition: 0.5s
    }
    #social-media-contact li i:hover {
        box-shadow: 0 0 0.4rem var(--social-media-icons-hover);
    }
    #secret-profile {
        text-decoration: none;
        font-family: PoppinsSB, Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 1rem;
        text-align: center;
        color: var(--eufranio-title-color);
        background: var(--eufranio-title-background);
        cursor: pointer;
        border-radius: 0 0.5rem 0.5rem 0;
    }
}

@media only screen and (max-width: 75rem) {
    header{
        height: 65vh;
    }
    #computer-menu{
        display: none;
    }
    #nav-computer-menu{
        height: 60px;
    }
    #mobile-menu{
        display: none;
        position: absolute;
        width:  100%;
        margin-top: 60px;
        right: 0;
        list-style: none;
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 0 0 5px 5px;
    }
    #mobile-menu a{
        text-decoration: none;
        color: #1f1f1f;
    }
    #mobile-menu a[href="#"] li{
        background-color: #1f1f1f !important;
        color: #fff;
    }
    #mobile-menu a li{
        margin: 10px 0;
        font-family: PoppinsL, Arial, Helvetica, sans-serif;
    }
    #social-media-contact{
        left: 0;
        width: 25%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        padding: 5px 0;
        border-radius: 0 5px 5px 0;
    }
    #secret-profile{
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        border-radius: 5px;
    }
    #btn-menu-extra {
        display: block;
        border: none;
        background-color: transparent;
        color: var(--menu-nav-bar-options);
        font-size: 20px;
        width: 10%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        position: absolute;
        right: 0;
    }
}