:root{
    --body: #1f1f1f;
    --menu-nav-bar: #1f1f1f;
    --menu-nav-bar-border: #131313;
    --menu-nav-bar-options: #fcfcfc;
    --social-media-background: #f5f5f5;
    --social-media-icons: #1f1f1f;
    --social-media-icons-hover: #1f1f1fbe;
    --eufranio-title-background: #f5f5f5;
    --eufranio-title-color: #1f1f1f;
}