header {
    background-image: url('../IMG/pexels-startup-stock-photos-7375.jpg');
    background-attachment: scroll;
}

@media only screen and (max-width: 1750px) {
    /*I was working at the white theme*/
    #main-conteiner h1, .principal-title {
        color: var(--principal-title);
        font-family: PoppinsL, RobotoL, Arial, Helvetica, sans-serif;
        font-size: 35px;
        text-align: center;
        margin-top: 35px;
        text-transform: capitalize;
    }
    #main-conteiner {
        width: 90%;
        position: relative;
        display: flex;
        margin: 25px auto;
        flex-wrap: wrap;
    }
    .project-link{
        width: 30%;
        height: 402px;
        display: block;
        text-decoration: none;
        margin: 10px;
    }
    .project-info:hover .project-img{
        scale: 1.02;
    }
    .project-info{
        width: 100%;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .project-img{
        display: block;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        position: relative;
    }
    .project-desc-conteiner{
        display: block;
        position: relative;
        height: 30%;
        width: 100%;
    }
    .project-desc-conteiner .project-name{
        color: var(--project-name);
        font-family: PoppinsSB;
        margin: 10px 0;
    }
    .project-desc-conteiner .project-desc{
        font-family: PoppinsL;
        color: var(--project-desc);
    }
}
@media only screen and (max-width: 750px){
    #main-conteiner{
        width: 95%;
    }
    #main-conteiner .project-link{
        width: 45%;
    }
}
@media only screen and (max-width: 545px){
    #main-conteiner{
        width: 95%;
    }
    #main-conteiner .project-link{
        width: 100%;
        height: auto;
    }
}