header {
    background-image: url('../IMG/pexels-helena-lopes-697244.jpg');
    background-attachment: scroll;
}

tag {
    color: #0099ff;
}

@media only screen and (max-width: 1450px) {
    #main-content {
        width: 50%;
        position: relative;
        margin: 50px auto;
        text-align: center;
    }
    #main-content>p {
        color: var(--main-content-text-color);
        font-size: 20px;
        font-family: PoppinsL, Arial, Helvetica, sans-serif;
        margin: 25px 0;
    }
    #author {
        color: var(--main-content-author);
        text-align: center;
        font-family: PoppinsSB, Arial, Helvetica, sans-serif;
        font-size: 25px;
    }
}

@media only screen and (max-width: 560px) {
    header{
        background-position-x: -415px;
    }
    header #home-page-title{
        font-size: 35px;
    }
    #main-content {
        width: 95%;
        text-align: left;
    }
}