@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', Arial, Helvetica, sans-serif;
}
body {
    background-color: #f5f5f5;
}
body * {
    transition: 0.3s;
}
html {
    font-size: 62.5%;
}
