@media only screen and (max-width: 1750px) {
    #main-content {
        width: 50%;
        position: relative;
        margin: 50px auto;
        text-align: left;
    }
    #main-content>h1 {
        color: var(--main-content-h1);
        font-size: 30px;
        font-family: PoppinsSB, Arial, Helvetica, sans-serif;
        margin: 15px 0;
        text-transform: capitalize;
    }
    #main-content>h2 {
        color: var(--main-content-h2);
        font-size: 25px;
        font-family: PoppinsL, Arial, Helvetica, sans-serif;
        margin: 25px 0 10px 0;
    }
    #main-content>p {
        color: var(--main-content-p);
        font-size: 20px;
        font-family: PoppinsL, Arial, Helvetica, sans-serif;
    }
    #main-content #user-description{
        position: relative;
        display: flex;
        margin-bottom: 25px;
    }
    #main-content #user-description img{
        border-radius: 10px;
        width: 165px;
        position: relative;
        border: 2px solid var(--profile-image-border-color);
        margin-right: 15px;
    }
    #main-content #user-description .user-info{
        font-family: PoppinsL, Arial, Helvetica, sans-serif;
        color: var(--main-content-p);
    }
    .div-theme-conteiner{
        position: relative;
        margin-top: 10px;
    }
    .div-theme-conteiner button{
        border: 2px solid #848484;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        background-color: #fff;
    }
    .div-theme-conteiner button:hover{
        border: 2px solid  #00b3ff;
    }
    .active{
        border: 2px solid #00b3ff !important;
    }
    #btn-dark-theme{
        background-color: #1a1a1a;
    }
    .user-info p{
        margin: 2.5px 0;
    }
    .user-info p i {
        margin-right: 5px;
        display: inline-block;
        width: 20px;
        text-align: center;
    }
    .user-info p strong{
        color: var(--main-content-h2);
    }
    .normal-text {
        text-align: left;
    }
    strong {
        color: var(--strong);
        font-weight: 700;
    }
    a {
        color: var(--link);
    }
    .i-work-with {
        display: flex;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        list-style: none;
        flex-direction: column;
    }
    .i-work-with li {
        display: flex;
        margin: 5px 0px;
        font-size: 30px;
    }
    .i-work-with li i {
        display: block;
        width: 5%;
    }

    .i-work-with li .level-conteiner{
        display: block;
        width: 50%;
        border-radius: 5px;
        background-color: var(--level-conteiner);
        margin-left: 10px;
        position: relative;
        box-shadow: 0.2rem 0.1rem 0.2rem #0000000e;
        transition: 0.5s;
    }
    .i-work-with li .level-conteiner:hover{
        box-shadow: 0.2rem 0.1rem 0.2rem #00000019;
    }
    .i-work-with li .level-conteiner .level-bar{
        display: flex;
        position: absolute;
        justify-content: center;
        height: 100%;
        border-radius: 5px;
        background-color: #161616;
        align-items: center;
        width: 70%;
    }
    .i-work-with li .level-conteiner .level-bar .percentage{
        font-size: 18px;
        font-weight: 700;
        color: #161616;
        font-family: PoppinsSB, sans-serif;
        margin-right: 5px;
        cursor: default;
    }
    #js-level{
        background-color: #ffd000 !important;
    }
    #html5-level{
        background-color: #ff4800 !important;
    }
    #css3-level{
        background-color: #00f2ff !important;
    }
    #vuejs-level{
        background: linear-gradient(to right, #00ff77, #00b3ff);
    }
    #nodejs-level{
        background: #00a914;
    }
    #vuejs-level p{
        color: #fff;
    }
    .tech-denomination{
        font-family: PoppinsSB, sans-serif;
        font-size: 1.6rem;
        color: var(--main-content-h2);;
        margin-left: 1rem;
    }
    .sr-only{
        color: var(--main-content-h2);
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
    .works-that-already-done {
        background-color: var(--works-already-done);
        border-radius: 5px;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
    }
    .works-that-already-done a {
        position: relative;
        margin: 10px;
        font-family: PoppinsLL, Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    .works-that-already-one a li {
        color: var(--works-already-done-color);
        font-size: 20px;
        transition-property: color;
        transition-duration: 0.5s;
        text-transform: capitalize;
    }
    .works-that-already-done a:hover li {
        color: #ff4800;
    }
    #see-my-repos{
        border: none;
        display: block;
        position: relative;
        margin: 10px auto;
        text-align: center;
        background-color: var(--see-my-repos-background);
        color: var(--see-my-repos-color);
        font-size: 25px;
        font-family: PoppinsSB, Arial, Helvetica, sans-serif;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
        margin-bottom: 0;
    }
    #see-my-repos:hover{
        background-color: var(--see-my-repos-hover);
    }
    #my-repos{
        display: none;
        position: relative;
        flex-wrap: wrap;
        width: 50%;
        margin: 50px auto;
    }
    #my-repos ul {
        list-style: none;
        width: 100%;
    }
    #my-repos a{
        text-decoration: none;
    }
    #my-repos ul li{
        padding: 10px 0;
        padding-left: 10px;
        font-size: 25px;
        font-family: PoppinsL, Arial, Helvetica, sans-serif;
        color: var(--see-my-repos-color);
        background-color: var(--my-repos-background);
        border-radius: 5px;
        margin: 15px 0;
        transition: 0.5s;
    }
    #my-repos ul li:hover{
        background-color: var(--my-repos-hover);
    }
    .directions{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    .div-repos-quantity{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: auto;
        margin-top: 5px;
        right: 5%;
    }
    .div-repos-quantity .label-info-repo{
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        color: var(--label-info-repo);
        font-size: 20px;
        font-family: PoppinsSB, Arial, Helvetica, sans-serif;
    }
    .div-repos-quantity p{
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        color: var(--repos-quantity);
        font-size: 35px;
        font-family: PoppinsL, Arial, Helvetica, sans-serif;
        font-weight: 900;
    }
}

@media only screen and (max-width: 755px) {
    #main-content {
        width: 95%;
    }
    #my-repos{
        width: 95%;
    }
    .div-repos-quantity{
        flex-wrap: nowrap;
        margin-top: -45px;
        left: 5%;
        right: auto;
        width: 100%;
    }
    .div-repos-quantity .label-info-repo{
        width: 50%;
        line-height: 40px;
        text-align: right;
    }
    .div-repos-quantity p{
        width: 30%;
        text-align: left;
        padding-left: 20px;
    }
    header{
        background-position-x: 0px;
        background-size: 100% 100%;
    }
    #main-content #user-description{
        flex-wrap: wrap;
        justify-content: center;
    }
    #main-content #user-description img{
        margin-bottom: 40px;
    }
    #main-content #user-description .user-info{
        width: 100%;
        text-align: center;
    }
    .i-work-with li .level-conteiner{
        width: 90%;
        margin-left: 5%;
    }
    .i-work-with li .level-conteiner:hover{
        transform: none;
        width: auto;
    }
}