#main-content {
    width: 90%;
    position: relative;
    margin: 50px auto;
    text-align: left;
}

#main-content h1 {
    color: var(--main-content-h1);
    font-size: 32px;
    font-family: PoppinsSB, Arial, Helvetica, sans-serif;
    margin: 15px 0;
    text-transform: capitalize;
}

#main-content h2 {
    color: var(--main-content-h2);
    font-size: 26px;
    font-family: PoppinsL, Arial, Helvetica, sans-serif;
    margin: 25px 0 10px 0;
}

#main-content p {
    color: var(--main-content-p);
    font-size: 16px;
    font-family: PoppinsL, Arial, Helvetica, sans-serif;
}
.row {
    margin: 0 0 5rem 0;
}
#main-content > h1:nth-child(1) {
    margin-left: 0%;
}
.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
}
.projects-container .sub-row {
    width: 100%;
    margin: 2.5rem 0;
    display: flex;
    flex-direction: column;
}
.projects-container .sub-row .project-container {
    display: flex;
    width: 70%;
    height: 45rem;
    flex-direction: column;
    margin: 2.5rem 0;
    box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.13);
    border-radius: 1rem;
    position: relative;
    transition: 1.0s;
}
.projects-container .sub-row .project-container:nth-child(even) {
    align-self: flex-end !important;
}
.projects-container .sub-row .project-container:hover .project-description {
    opacity: 1;
}
.projects-container .sub-row .project-container img {
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.project-description {
    height: 45rem;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #FFFFFF;
    position: absolute;
    opacity: 1;
    transition: 1s;
}

.project-description .project-main-details .type {
    background: #fff;
}
.project-description .project-main-details {
    position: absolute;
    width: 50%;
    left: 5%;
    top: 2.5%;
}
.project-description .project-main-details .project-title {
    color: #181818 !important;
}

.project-description .project-main-details .project-explanation {
    color: #717171 !important;
    margin-bottom: 2rem;
}



.project-description .project-main-details .btn-visit-site {
    text-decoration: none;
    margin-top: 4rem;
    padding: 1rem 2rem;
    text-align: center;
    color: #121212 !important;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    display: inline-block;
    transition: 1s;
    position: relative;
    z-index: 1;
}
.project-description .project-main-details .btn-visit-site::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #e10d09D9, #e19d09d9);
    border-radius: 0.5rem;
    transition: 0.5s;
    color: #fff;
    z-index: -1;
}

.project-description .project-main-details .btn-visit-site::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 10%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #e10d09D9, #e19d09d9);
    border-radius: 0.5rem;
    transition: 0.5s;
    animation: call-to-action 4.5s infinite linear;
}

.project-description .project-main-details .btn-visit-site:hover {
    color: #fff !important;
}
.project-description .project-main-details .btn-visit-site:hover::after {
    opacity: 0;
}
.project-description .project-main-details .btn-visit-site:hover::before {
    width: 100%;
}

@keyframes call-to-action {
    0% {
        width: 25%;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 25%;
    }
    75% {
        width: 50%;
    }
    100% {
        width: 25;
    }
}



.project-description img {
    position: absolute;
    width: 35%;
    height: 45% !important;
    object-fit: cover;
    right: 5%;
    top: 5%;
    box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.082);
}
.project-description .project-number {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 10rem !important;
    font-weight: bold;
    color: #181818 !important;
}

.see-more-project {
    border: 2px solid #181818;
    color: #181818;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-family: PoppinsSB, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    transform: rotate(-10deg);
    transition: 0.5s;
    cursor: pointer;
}
.see-more-project:hover {
    transform: rotate(0deg) scale(1.15);
    background: linear-gradient(to left, #0de4b1, #0a97e3);;
    color: white;
    border: 2px solid #fff;
}


@media only screen and (max-width: 755px) {
    #main-content {
        width: 95%;
    }
    #my-repos {
        width: 95%;
    }
    .div-repos-quantity {
        flex-wrap: nowrap;
        margin-top: -45px;
        left: 5%;
        right: auto;
        width: 100%;
    }
    .div-repos-quantity .label-info-repo {
        width: 50%;
        line-height: 40px;
        text-align: right;
    }
    .div-repos-quantity p {
        width: 30%;
        text-align: left;
        padding-left: 20px;
    }
    header {
        background-position-x: 0px;
        background-size: 100% 100%;
    }
    #main-content #user-description {
        flex-wrap: wrap;
        justify-content: center;
    }
    #main-content #user-description img {
        margin-bottom: 40px;
    }
    #main-content #user-description .user-info {
        width: 100%;
        text-align: center;
    }
    .i-work-with li .level-conteiner {
        width: 90%;
        margin-left: 5%;
    }
    .i-work-with li .level-conteiner:hover {
        transform: none;
        width: auto;
    }
}